*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #4F1B1D;
	height: 70px;
	align-items: center;
	padding: 0 150px;
}

nav{
	width: 464px;
	display: flex;
	justify-content: space-between;
}

nav a{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	transition: 0.3s ease-in-out;
}

nav a:hover{
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer{
	height: 214px;
	background-color: #4F1B1D;
	display: flex;
	justify-content: space-between;
	padding: 0 150px;
	align-items: center;
}

.column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#c1{
	height: 90px;
}

#c2{
	height: 114px;
}

#c2 p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

#c2 a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	padding-top: 5px;
}

#c1 p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.8);
}

.column nav{
	height: 118px;
	flex-direction: column;
}

.column nav a{
	color:#fff;
}


.contacts{
	padding: 0 150px;
	height: 75vh;
}
.head{
	height: 52px;
	background: #64495C;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 27px 0 42px 0;
}
h1{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
}
.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.adress, .phoneNumbers, .Email{
	width: 560px;
	padding: 16px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 41px;
}

h2{
	margin-bottom: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}
p,a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
}
.adress{
	background: #2E1115;

}
.phoneNumbers{
	background: #83687B;
}
.Email{
	background: #ADADAD;
}